table {
  margin: 10px auto 0px;
  width: 60%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

button {
  margin: 0px 5px;
}

.selected {
  background-color: #ffff81;
}
