<table>
  <tbody>
    <tr>
      <th *ngFor="let title of titles">
        {{ title }}
      </th>
      <th>actions</th>
    </tr>
    <tr *ngFor="let driver of drivers" (click)="onSelectDriver(driver.id)" [class.selected] = "driver.id === selectedDriverId">
      <td>{{driver.id}}</td>
      <td>{{driver.name}}</td>
      <td>{{driver.phone}}</td>
      <td>{{driver.email}}</td>
      <td>
        <div>{{driver.location.lat}}</div>
        <div>{{driver.location.lng}}</div>
      </td>
      <td>{{driver.tasks.length}}</td>
      <td>
        <button mat-raised-button color="basic" (click)="onPutDriver($event, driver)">
          edit
        </button>
        <button mat-raised-button color="accent" (click)="onDeleteDriver($event, driver.name, driver.id)">
          delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
