<h1 class="title">d r i v e r z</h1>

<app-post-driver-button [drivers]="drivers" (postEvent)="onPostEvent($event)"></app-post-driver-button>

<div *ngIf="drivers.length != 0" >
  <app-driver-table
    [drivers]="drivers"
    [selectedDriverId]="selectedDriverId"
    (selectEvent)="onSelectEvent($event)"
    (putEvent)="onPutEvent($event)"
    (deleteEvent)="onDeleteEvent($event)"
  ></app-driver-table>

  <app-driver-map
    [drivers]="drivers"
    [selectedDriverId]="selectedDriverId"
  ></app-driver-map>
</div>
