<form [formGroup]="myForm">
  <h1 mat-dialog-title>{{ formAction }} driver</h1>
  <br>

  <mat-form-field>
    <input matInput formControlName="name" placeholder="name" [(ngModel)]="localData.name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName="phone" placeholder="phone" [(ngModel)]="localData.phone">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="email" [(ngModel)]="localData.email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName="lat" placeholder="latitude" [(ngModel)]="localData.location.lat">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName="lng" placeholder="longitude" [(ngModel)]="localData.location.lng">
  </mat-form-field>
  <br>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="doAction()" [disabled]="myForm.invalid">Done</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</form>
