<form [formGroup]="myForm">
  <h1 mat-dialog-title>edit driver</h1>
  <br>

  <mat-form-field>
    <input formControlName="name" matInput placeholder="name" [(ngModel)]="localData.name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="phone" matInput placeholder="phone" [(ngModel)]="localData.phone">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="email" matInput placeholder="email" [(ngModel)]="localData.email">
  </mat-form-field>
  <br>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="doAction()" [disabled]="myForm.invalid">Done</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
</form>
